<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Tailspin.SpaceGame.Web.Model" value="https://pkgs.dev.azure.com/Zanabar777/de98ebc4-add3-4a4a-ad04-d27305128e56/_packaging/Tailspin.SpaceGame.Web.Model/nuget/v3/index.json" />
  </packageSources>
</configuration>